.ticket-container{
    display: flex;
    flex-direction: column;
}
.ticket{
    border: 2px solid black;
    display:flex;
    flex-direction: row;
}
.fare-main{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.fare-head{
    display: flex;
    flex-direction: row;
    order:0;
    padding-bottom: 25px;
}
.fare-list{
    display: flex;
    flex-direction: row;
    order:1;

}
.fare{
    border: 2px solid black;
    min-height: 125px;
    position: relative;
}
.fare-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}